<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resumen de Gastos</title>

  <link rel="stylesheet" href="style_v.css">
</head>
<body>
  <div class="heade">
    <a class="back" href="index.html">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="39" fill="currentColor" color="#00cc99" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
      <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
    </svg>
    </a>
  <h2 class="date-actual"> HOY ( <%= hoy %> )</h2>
  <form id="form-date" action="/vista" method="post">
    <div class="container-date">
    <input class="find-date" id="date-esp" name="date_efc" type="date" required>
    <button class="btn-find" type="submit" id="act">
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
    </button>
  </div>
  </form>
  </div>

  
  
    <h1>Gastos de casa</h1>
    <div class="del-cter">
      <input class="del-inp" id="del-csa" type="number" placeholder="id del producto">
      <button class="btn-del" id="btn-csa">Eliminar</button>
    </div>
    <div class="tabla-container">
        <table>
        <thead>
            <tr>
              <th>ID</th>
            <th>Nombre del producto</th>
            <th>Pago realizado</th>
            </tr>
        </thead>

        <tbody>
            <% casa.forEach(gasto => { %>
            <tr>
                <td class="identificate"><%= gasto.id %></td>
                <td><%= gasto.Adquirio %></td>
                <td>Q <%= gasto.Monto_Pagado %></td>
            <% }) %>
            </tr>
            <tr>
              <td>Total:</td>
              <td></td>
              <td class="E"><%= suma_c %> Q</td>
            </tr>
        </tbody>
      </table>
    </div>

      <h1>Gastos personales</h1>
    <div class="del-cter">
      <input class="del-inp" id="del-pns" type="number" placeholder="id del producto">
      <button class="btn-del" id="btn-pns">Eliminar</button>
    </div>
    <div class="tabla-container">
        <table>
        <thead>
            <tr>
            <th>ID</th>
            <th>Nombre del producto</th>
            <th>Pago realizado</th>
            </tr>
        </thead>

        <tbody>
            <% personal.forEach(gasto => { %>
            <tr>
              <td class="identificate"><%= gasto.id %></td>
                <td><%= gasto.Adquirio %></td>
                <td>Q <%= gasto.Monto_Pagado %></td>
            </tr>
            <% }) %>
            <tr>
              <td>Total:</td>
              <td></td>
              <td class="E"><%= suma_p %> Q</td>
            </tr>
        </tbody>
      </table>
    </div>
        <h1>Gastos de transporte</h1>
    <div class="del-cter">
      <input class="del-inp" id="del-tpt" type="number" placeholder="id del producto">
      <button class="btn-del" id="btn-tpt">Eliminar</button>
    </div>
    <div class="tabla-container">
        <table>
        <thead>
            <tr>
              <th>ID</th>
            <th>Nombre del producto</th>
            <th>Pago realizado</th>
            </tr>
        </thead>

        <tbody>
            <% transporte.forEach(gasto => { %>
            <tr>
              <td class="identificate"><%= gasto.id %></td>
                <td><%= gasto.Adquirio %></td>
                <td>Q <%= gasto.Monto_Pagado %></td>
            </tr>
            <% }) %>
            <tr>
              <td>Total:</td>
              <td></td>
              <td class="E"><%= suma_t %> Q</td>
            </tr>
        </tbody>
      </table>
    </div>
</body>
<script>
  const btn1 = document.getElementById("btn-csa");
  const btn2 = document.getElementById("btn-pns");
  const btn3 = document.getElementById("btn-tpt");
  btn1.addEventListener("click", async() => {
    const id = document.getElementById("del-csa").value.trim();
    const sendd = await fetch('/dele', {
      method: "POST",
      headers: {"Content-Type":"application/json"},
      body: JSON.stringify({id})
    });

    const result = await sendd.json();
    alert(result.message);
    location.reload();
  });


  btn2.addEventListener("click", async() => {
    const id_p = document.getElementById("del-pns").value.trim();
    const res = await fetch("/dele", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify({id_p})
    });

    const result = await res.json();
    alert(result.message);
    location.reload();
  });

  btn3.addEventListener("click", async() => {
    const id_t = document.getElementById("del-tpt").value.trim();
    const res_p = await fetch("/dele", {
      method: "POST",
      headers: {"Content-Type":"application/json"},
      body: JSON.stringify({id_t})
    });
    const result = await res_p.json();
    alert(result.message)

    location.reload();
  });

</script>
</html>